.about{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.titleHome h1{
    font-size: 9rem;
    width: 100%;
}

.decoration-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.lineAbout{
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.lines{
    background-color: white;
    height: 38px;
    width: 1px;
}

.gardient{
    width: 70%;
    height: 40px;
    margin: 20px 0 30px 0;
    display: flex;
    flex-direction: row;
}

.bgGardient{
    width: 100%;
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(168,113,83,1) 15%, rgba(138,118,94,1) 35%, rgba(71,124,118,1) 52%, rgba(51,128,155,1) 69%, rgba(81,127,167,1) 84%, rgba(173,0,255,1) 100%);
}

/* .bgGardient2{
    width: 100%;
    background: linear-gradient(270deg, rgba(255,0,0,1) 0%, rgba(168,113,83,1) 15%, rgba(138,118,94,1) 35%, rgba(71,124,118,1) 52%, rgba(51,128,155,1) 69%, rgba(81,127,167,1) 84%, rgba(173,0,255,1) 100%);
} */