.lineContainer{
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 100%;
    height: 280px;
    background: linear-gradient(90deg, #FFE7F5 0%, #D5EFFE 48.96%, #E1EBEE 100%);
    display: flex;
}

.lineContent{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5px;
}

.textSection{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lineTitle{
    color: black;
    font-size: 2rem;
}

.lineDescription{
    color: black;
    font-size: 1.4rem;
}


.lineButtons button{
    text-align: center;
    margin-top: 2rem;
    border-radius: 11px;
    width: 180px;
    height: 42px;
    border-style: none;
    color: white;
    font-size: 1.4rem;
    font-weight: 800;
}

.lineButtons button:first-child{
    background: linear-gradient(94deg, #01FFB3 0%, #250BFD 107.91%);
    margin-right: 2rem;
}

.lineButtons button:last-child{
    background: linear-gradient(94deg, #5182FF 0%, #C108B9 107.91%);
}

.logoSection, .logoSection img{
    height: 100%;
}

@media (max-width: 1280px){
    .lineContainer{
        margin-top: 2rem;
        margin-bottom: 4rem;
    }
    
    .textSection{
        height: 100%;
        width: 70%;
    }
    
    .lineTitle{
        font-size: 1.8rem;
    }
    
    .lineDescription{
        font-size: 1.2rem;
    }
    
    .lineButtons button{
        margin-top: 1.5rem;
        width: 160px;
        height: 40px;
    }

    .lineButtons button:first-child{
        margin-right: 1.4rem;
    }
}

@media (max-width: 1160px){
    .lineContainer{
        margin-top: 2rem;
        margin-bottom: 4rem;
        height: 220px;
    }

    .lineTitle{
        font-size: 1.6rem;
    }
    
    .lineDescription{
        font-size: 1rem;
    }
    
    .lineButtons button{
        margin-top: 1rem;
        font-size: 1.3rem;
        width: 160px;
        height: 38px;
    }

    .lineButtons button:first-child{
        margin-right: 1rem;
    }
}

@media (max-width: 820px){
    .lineContainer{
        margin-top: 1rem;
        margin-bottom: 4rem;
        height: 200px;
    }

    .lineTitle{
        font-size: 1.4rem;
    }
    
    .lineDescription{
        font-size: .9rem;
    }
    
    .lineButtons button{
        margin-top: 1rem;
        font-size: 1rem;
        width: 120px;
        height: 34px;
    }

    .lineButtons button:first-child{
        margin-right: .8rem;
    }
}

@media (max-width: 820px){
    .lineContainer{
        margin-top: .6rem;
        margin-bottom: 4rem;
        height: 190px;
    }

    .lineTitle{
        font-size: 1.2rem;
    }
    
    .lineDescription{
        font-size: .8rem;
    }
    
    .lineButtons button{
        margin-top: 1rem;
        font-size: .9rem;
        width: 110px;
        height: 30px;
    }

    .lineButtons button:first-child{
        margin-right: .8rem;
    }
}

@media (max-width: 470px){
    .lineContainer{
        margin-top: .6rem;
        margin-bottom: 4rem;
        height: 275px;
    }

    .lineContent{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .textSection{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .lineTitle{
        display: none;
    }
    
    .lineDescription{
        text-align: center;
        font-size: .75rem;
    }

    .lineButtons{
        margin-top: 1rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .lineButtons button{
        margin-top: 0;
        font-size: .9rem;
        border-radius: 8px;
        width: 150px;
        height: 32px;
    }
    
    .lineButtons button:last-child{
        margin-top: 0rem;
    }

    .lineButtons button:first-child{
        margin-right: 0;
    }

    .logoSection{
        height: 160px;
    }

    .logoSection img{
        height: 180px;
    }
}

@media (max-width: 320px){
    .lineContainer{
        margin-top: .6rem;
        margin-bottom: 4rem;
        height: 275px;
    }
    
    .lineDescription{
        text-align: center;
        font-size: .65rem;
    }

    .lineButtons{
        margin-top: 1rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .lineButtons button{
        margin-top: 0;
        font-size: .85rem;
        border-radius: 8px;
        width: 120px;
        height: 30px;
    }
    
    .lineButtons button:last-child{
        margin-top: 0rem;
    }

    .lineButtons button:first-child{
        margin-right: 0;
    }

    .logoSection{
        height: 160px;
    }

    .logoSection img{
        height: 180px;
    }
}