*{
  margin: 0;
  padding: 0;
  user-select: none;
}

html, body{
  background-color: black;
  color: white;
  font-family: 'Sora', sans-serif;
}

.body{
  box-sizing: border-box;
}

/*///////////////// SECCION SCROLLBAR ///////////////////////*/
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  background:rgb(126, 126, 126);
} 

/*///////////////// SECCION FONDO DE PC ///////////////////////*/

.pantallaDesk{
  position: absolute;
  top: 60%;
  left: -2%;
  transform: translateY(10%)
}

@media (max-width: 1200px) {
  .pantallaDesk{
    left: 0%;
  }
}

@media (max-width: 1000px) {
  .pantallaDesk{
    top: 30%;
    width: 100%;
    transform: translateY(10%)
  }
}
/* //////////////////////////////////////////////////////////////////// */

.pantallaPhone{
  position: absolute;
  left: 90%;
  transform: translateX(-90%) translateY(70%);
}

@media (max-width: 1500px) {
  .pantallaPhone{
    left: 80%;
    transform: translateX(-80%) translateY(82%);
  }
}

@media (max-width: 1100px) {
  .pantallaPhone{
    left: 80%;
    transform: translateX(-80%) translateY(82%);
  }
}

@media (max-width: 1000px) {
  .pantallaPhone{
    text-align: center;
    left: 20%;
    transform: translateX(-20%) translateY(45%);
    width: 98%;
  }
}
/* ///////////////////////////////////////////////////////// */

.pantallaGame{
  position: absolute;
  right: 45%;
  transform: translateX(-45%) translateY(120%);
}

@media (max-width: 1720px){
  .pantallaGame{
    right: 40%;
    transform: translateX(-40%) translateY(120%);
  }
}

@media (max-width: 1520px){
  .pantallaGame{
    right: 36%;
    transform: translateX(-36%) translateY(120%);
  }
}

@media (max-width: 1420px){
  .pantallaGame{
    right: 34%;
    transform: translateX(-34%) translateY(120%);
  }
}

@media (max-width: 1240px){
  .pantallaGame{
    right: 30%;
    transform: translateX(-30%) translateY(150%);
  }
}

@media (max-width: 1120px){
  .pantallaGame{
    right: 25%;
    transform: translateX(-25%) translateY(150%);
  }
}

@media (max-width: 1000px){
  .pantallaGame{
    right: 20%;
    transform: translateX(-20%) translateY(10%);
  }
}

@media (max-width: 910px){
  .pantallaGame{
    left: 5%;
    transform: translateX(-5%) translateY(-20%);
    width: 95%;
  }
}

@media (max-width: 560px){
  .pantallaGame{
    left: 5%;
    transform: translateX(-5%) translateY(-40%);
    width: 95%;
  }
}