*{
  margin: 0;
  padding: 0;
  user-select: none;
}

html, body{
  background-color: black;
  color: white;
  font-family: 'Sora', sans-serif;
}

.body{
  box-sizing: border-box;
}

/*///////////////// SECCION FONDO DE PC ///////////////////////*/

.pantallaDesk{
  position: absolute;
  top: 80%;
  left: 2%;
  transform: translateY(60%)
}

@media (max-width: 1280px) {
  .pantallaDesk{
    position: absolute;
    top: 100%;
    left: 2%;
    transform: translateY(70%)
  }
}

@media (max-width: 1080px) {
  .pantallaDesk{
    position: absolute;
    top: 100%;
    left: 2%;
    transform: translateY(80%)
  }
}

@media (max-width: 870px) {
  .pantallaDesk{
    position: absolute;
    top: 100%;
    left: 2%;
    width: 95%;
    transform: translateY(90%)
  }
}

@media (max-width: 780px) {
  .pantallaDesk{
    position: absolute;
    top: 80%;
    left: 2%;
    transform: translateY(60%)
  }
}

@media (max-width: 720px) {
  .pantallaDesk{
    position: absolute;
    top: 80%;
    left: 2%;
    transform: translateY(60%)
  }
}

@media (max-width: 670px) {
  .pantallaDesk{
    position: absolute;
    top: 90%;
    left: 2%;
    transform: translateY(60%)
  }
}

@media (max-width: 580px) {
  .pantallaDesk{
    position: absolute;
    top: 100%;
    left: 2%;
    transform: translateY(60%)
  }
}

@media (max-width: 520px) {
  .pantallaDesk{
    position: absolute;
    top: 80%;
    left: 2%;
    transform: translateY(80%)
  }
}

@media (max-width: 460px) {
  .pantallaDesk{
    position: absolute;
    top: 60%;
    left: 2%;
    transform: translateY(30%)
  }
}

@media (max-width: 320px) {
  .pantallaDesk{
    position: absolute;
    top: 60%;
    left: 2%;
    transform: translateY(40%)
  }
}

@media (max-width: 270px) {
  .pantallaDesk{
    position: absolute;
    top: 60%;
    left: 2%;
    transform: translateY(40%)
  }
}

/* //////////////////////////////////////////////////////////////////// */