.navbar{
  width: 100%;
  margin: 50px auto;
}

.contentNav{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 140px;
}

.contentNav div a{
  font-size: 1.45rem;
  font-weight: 300;
  color: white;
  text-decoration: none;
  position: relative;
}

.container-logo img{
  box-sizing: border-box;
  width: 150px;
  height: 100%;
}

.line a::after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  height: 1px;
  width: 0;
  left: 0;
  bottom: 0;
  transition: 0.3s;
  border-radius: 50px;
}

#inactive a:hover:after {
  width: 100%;
}

#active a:after {
  width: 100%;
}

@media (max-width: 780px){
  .contentNav{
    gap: 30px;
    justify-content: space-evenly;
  }

  .contentNav div a{
    font-size: 1.2rem;
    font-weight: 300;
    color: white;
    text-decoration: none;
  }

  .container-logo img{
    width: 120px;
  }
}

@media (max-width: 460px){
    .contentNav{
      gap: 0;
      justify-content: space-evenly;
    }

    .contentNav div a{
      font-size: 1rem;
    }

    .container-logo img{
      width: 75px;
    }
}

@media (max-width: 320px){
  .contentNav{
    gap: 0;
    justify-content: space-evenly;
  }

  .contentNav div a{
    font-size: .8rem;
  }

  .container-logo img{
    width: 65px;
  }
}